<div class="crypto-page" id="<%= @id %>" onclick>
    <section class="recipe-25pls">
        <%= live_component @socket, TanphatWeb.BlogCollection.BlogCrypto,
            blogs: @paginator.entries %>
    </section>
    <%= live_component @socket, TanphatWeb.SharedLive.Paginator,
        route_action: :cryptocurrency,
        query: Map.merge(@query, %{"replace" => true}),
        paginator: @paginator %>
</div>
