<div class="blog-crypto">
    <div>
        <h1 style="text-align: center"><%= Printer.translate_data(@blog, :description) %></h1>
    </div>
    <br>
    <div class="blog-crypto__content">
        <div style="padding: 0 20px 0 20px">
            <%= raw (Printer.translate_data(@blog, :inner_html)) %>
        </div>
</div>
