.crypto-page {
    position: fixed;
    right: 0;
    top: 25px;
    width: 95.5%;
    height: 100%;
}
.blog-crypto {
    height: 90%;
    position: fixed;
    right: 0;
    top: 25px;
    overflow: scroll;
    width: 95.5%;
    line-height: 1.4;
}
.blog-crypto__content {
    a{
        color: red;
        text-decoration: none;
    }
}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center-img-special{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.eth-burned {
    font-family: Verdana, Tahoma, sans-serif;
    color: #FF0F10
 }
.money-burned {
    font-family: Verdana, Tahoma, sans-serif;
    color: #10B839
 }
@media (max-width: 768px){
    .crypto-page {
        width: 92%;
        overflow: scroll;
    }
    .blog-crypto {
        height: 90%;
        position: fixed;
        right: 0;
        top: 25px;
        overflow: scroll;
        width: 92%;
        line-height: 1.4;
    }
}
@media (max-width: 375px){
    .crypto-page {
        width: 100%;
        overflow: scroll;
    }
}

