.grid-group-2 {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    grid-gap: 0px;
    grid-template-columns: repeat(4, 25%);
    display: grid;
    .grid-item-7 {
        flex: 1 1 auto;
        padding: 15px;
        margin: 20px 20px 0 0;
        background: linear-gradient(
            325deg
            ,#2193b0 , #6dd5ed  90%);
        border-radius: 10px;
        text-decoration: none;
        color: white
    }
    .grid-item_icon-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .grid-item_icon-group_img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    .grid-item_icon-group_img_2 {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        padding-top: 15px;
    }
    .grid-item_icon-group_element {
        margin-right: 20px;
    }
}
.grid-group {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 33.33%);
    display: grid;
    .grid-item-disable {
        pointer-events: none;
        cursor: default;
        flex: 1 1 auto;
        padding: 15px;
        margin: 20px 20px 0 0;
        background: #dddddd;
        border-radius: 10px;
        text-decoration: none;
        color: white
    }
    .grid-item-1 {
        flex: 1 1 auto;
        padding: 15px;
        margin: 20px 20px 0 0;
        background: linear-gradient(
            325deg
            ,#42CFFF , #EC87FF  90%);
        border-radius: 10px;
        text-decoration: none;
        color: white
    }
    .grid-item-2 {
        flex: 1 1 auto;
        padding: 15px;
        margin: 20px 20px 0 0;
        background: linear-gradient(
            325deg
            ,#fc4a1a , #f7b733  90%);
        border-radius: 10px;
        text-decoration: none;
        color: white
    }
    .grid-item-3 {
        flex: 1 1 auto;
        padding: 15px;
        margin: 20px 20px 0 0;
        background: linear-gradient(
            325deg
           ,#FF0F10 ,#10B839 90%);
        border-radius: 10px;
        text-decoration: none;
        color: white
    }
    .grid-item-4 {
        flex: 1 1 auto;
        padding: 15px;
        margin: 20px 20px 0 0;
        background: linear-gradient(
            325deg
            ,#009FFF , #ec2F4B  90%);
        border-radius: 10px;
        text-decoration: none;
        color: white
    }
    .grid-item-5 {
        flex: 1 1 auto;
        padding: 15px;
        margin: 20px 20px 0 0;
        background: linear-gradient(
            325deg
            , #F24976,#69CDFF  90%);
        border-radius: 10px;
        text-decoration: none;
        color: white
    }
    .grid-item-6 {
        flex: 1 1 auto;
        padding: 15px;
        margin: 20px 20px 0 0;
        background: linear-gradient(
            325deg
            , #FFD401,#454545  90%);
        border-radius: 10px;
        text-decoration: none;
        color: white
    }
    .grid-item_icon-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .grid-item_icon-group_img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    .grid-item_icon-group_img_2 {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        padding-top: 15px;
    }
    .grid-item_icon-group_element {
        margin-right: 20px;
    }
}
@media (max-width: 375px){
    .grid-group {
        grid-template-columns: repeat(2, 50%);
    }
}