.programing-language-page {
    position: fixed;
    right: 0;
    top: 25px;
    width: 1283px;
    height: 100%;
}
@media (max-width: 375px){
    .programing-language-page {
        width: 95%;
        overflow: scroll;
    }
}