.side_bar {
    position: fixed;
    // width: 60px;
    width: 4.5%;
    height: 100%;
    left: 0;
    top: 25px;
    overflow-x: hidden;
    background: linear-gradient(
        325deg
        ,#10B839 , #FF0F10  90%);
    // border-radius: 0 10px 10px 0;
}
@media only screen and (max-width: 375px) {
    .side_bar {
        width: 12%;
    }
}
.icon-toolbar {
    margin-top: 20px;
}
.icon-toolbar_element {
    width: 65%;
    height: 0%;
    padding: 5px;
    margin: 4px;
    border-radius: 50%;
    transform: translateX(0);
}
.icon-toolbar_element:hover {
    transform: translateX(calc(0.10em * 3 + 0.08em * 2));
    transition: 0.7s;
}