.loading-screen {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    color: #F79413;
    background-color: #F4F4F4;
}
.loading-screen_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: #F79413;
}
.paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding-top: 25px;
}
.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 100%;
    border: 0;
    height: 36px;
    width: 36px;
    min-width: 36px;
    max-width: 36px;
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
}
.btn-primary-1 {
    font-size: 18px;
    line-height: 18px;
    color: #444444;
    background: linear-gradient(
        325deg
        ,#42CFFF , #EC87FF  90%);
    border-color: inear-gradient(
        325deg
        ,#42CFFF , #EC87FF  90%);
}
.btn-primary-2 {
    font-size: 18px;
    line-height: 18px;
    color: #444444;
    background: linear-gradient(
        325deg
        ,#fc4a1a , #f7b733  90%);
    border-color: linear-gradient(
        325deg
        ,#fc4a1a , #f7b733  90%);
}
.btn-primary-3 {
    font-size: 18px;
    line-height: 18px;
    color: #444444;
    background: linear-gradient(
        325deg
       ,#FF0F10 ,#10B839 90%);
    border-color: linear-gradient(
        325deg
       ,#FF0F10 ,#10B839 90%);
}
.btn-primary-4 {
    font-size: 18px;
    line-height: 18px;
    color: #444444;
    background: linear-gradient(
        325deg
        ,#009FFF , #ec2F4B  90%);
    border-color: linear-gradient(
        325deg
        ,#009FFF , #ec2F4B  90%);
}
.btn-primary-7 {
    font-size: 18px;
    line-height: 18px;
    color: #444444;
    background: linear-gradient(
        325deg
        ,#2193b0 , #6dd5ed  90%);
    border-color: linear-gradient(
        325deg
        ,#2193b0 , #6dd5ed  90%);
}
.btn-text-primary {
    font-size: 18px;
    line-height: 36px;
    color: #444444;
    padding: 0;
    background-color: transparent;
    border: 0;
}
.btn-primary-dark {
    font-size: 18px;
    line-height: 18px;
    color: #444444;
}
@media (max-width: 375px){
    .loading-screen {
        width: 100%;
    }
}