.top-bar {
    position: fixed;
    top: 0;
    height: 25px;
    background-color: black;
    align-items: center;
    width: 100%;
}
.home{
    width: 20px;
    height: 20px;
}
.date-time {
    position: fixed;
    left: 50%;
}
.bottom-bar{
    position: fixed;
    bottom: 0;
}
.menu-img {
    visibility: hidden;
    width: 0;
    height: 0;
}
.flag{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.flag:hover {
    transform: perspective(200px) rotateY(35deg);
    transition-duration: 1s;
}
.multiple-languages{
    display: inherit;
    position: fixed;
    right: 0;
}
.yo{
    margin-left: 20px;
}
@media (max-width: 375px){
    .menu-img {
        visibility: visible;
        width: 20px;
        height: 20px;
    }
    .yo{
        margin-top: 4px;
        margin-left: 15px;
    }
    .menu-dropdown{
        margin-left: 10px;
        margin-top: 4px;
    }
    .home{
        width: 20px;
        height: 20px;
    }
    .multiple-languages{
        display: inherit;
        position: fixed;
        right: 0;
        padding-top: 4px;
    }
    .date-time {
        position: fixed;
        left: 45%;
    }
    .bottom-bar {
        visibility: hidden;
    }
}