<%= live_component @socket, TanphatWeb.Toolbar.TopBar, route: assigns[:root_route] %>
<%= live_component @socket, TanphatWeb.Toolbar.SideBar, Map.put(assigns, :id, "") %>
<%= live_component @socket, assigns[:root_route][:component], get_assigns_for_mainpage(assigns) %>
<%= live_component @socket, TanphatWeb.Toolbar.BottomBar, route: assigns[:root_route] %>
