<!DOCTYPE html>
<html lang="en">
<nav class="top-bar flex-row">
    <%= live_patch class: "", to: Routes.page_path(@socket, :home_index ) do %>
        <img class="home" src="/images/home.png" alt="" title="Home" />
    <% end %>
    <iframe class="date-time" src="https://free.timeanddate.com/clock/i7vo56eb/fcfff/tc000/pc000/th1" frameborder="0" width="57" height="18"></iframe>
    <div style="display: inherit;">
        <%= content_tag :a, class: "", phx_value_locale: "vi", phx_click: :switch_language, phx_target: @myself do %>
            <img class="flag" src="/images/vietnam.png" alt="">
        <% end %>
        <%= content_tag :a, class: "", phx_value_locale: "en", phx_click: :switch_language, phx_target: @myself do %>
            <img class="flag" src="/images/usa.png" alt="">
        <% end %>
    </div>
</nav>
</html>
