<div class="programing-language-page" id="<%= @id %>" onclick>
    <section class="recipe-25pls">
        <%= live_component @socket, TanphatWeb.BlogCollection.Blog,
            blogs: @paginator.entries %>
    </section>

</div>
