<!DOCTYPE html>
<html lang="en">
    <script src="https://widgets.coingecko.com/coingecko-coin-heatmap-widget.js"></script>
<div class="home-page">
    <div>
    <coingecko-coin-heatmap-widget  height="545" locale="en" width=""></coingecko-coin-heatmap-widget>
    </div>
</div>
</html>
