<!DOCTYPE html>
<html lang="en">
<div class="home-page">
    <div>
        <coingecko-coin-heatmap-widget  height="534" locale="en" width=""></coingecko-coin-heatmap-widget>
    </div>
</div>
</html>
