<div class="stock-exchange-page">
    <%= content_tag :div, class: "stock-exchange-page__index flex-row", id: "global_and_commodity_#{@id}" do %>
        <div class="stock-exchange-page__index__ele">
            <strong><p class="name">S&P 500</p></strong>
            <strong><%= @snp500_index_price %></strong>
            <br>
            <%= if String.to_float(@snp500_index_price_24h_change) > 0 do %>
                <span class="incr"><%= @snp500_index_price_24h_change %> (<%= @snp500_index_rate_24h_change %>)<span>
            <% else %>
                <span class="des"><%= @snp500_index_price_24h_change %> (<%= @snp500_index_rate_24h_change %>)<span>
            <% end %>
        </div>
        <hr class="line">
        <div class="stock-exchange-page__index__ele">
            <strong><p class="name">Dow 30</p></strong>
            <strong><%= @dji_index_price %></strong>
            <br>
            <%= if String.to_float(@dji_index_price_24h_change) > 0 do %>
                <span class="incr"><%= @dji_index_price_24h_change %> (<%= @dji_index_rate_24h_change %>)<span>
            <% else %>
                <span class="des"><%= @dji_index_price_24h_change %> (<%= @dji_index_rate_24h_change %>)<span>
            <% end %>
        </div>
        <hr class="line">
        <div class="stock-exchange-page__index__ele">
            <strong><p class="name">Nasdaq</p></strong>
            <strong><%= @nasdaq100_index_price %></strong>
            <br>
            <%= if String.to_float(@nasdaq100_index_price_24h_change) > 0 do %>
                <span class="incr"><%= @nasdaq100_index_price_24h_change %> (<%= @dji_index_rate_24h_change %>)<span>
            <% else %>
                <span class="des"><%= @nasdaq100_index_price_24h_change %> (<%= @dji_index_rate_24h_change %>)<span>
            <% end %>
        </div>
        <hr class="line">
        <div class="stock-exchange-page__index__ele">
            <strong><p class="name">FTSE 100</p></strong>
            <strong><%= @ftse100_index_price %></strong>
            <br>
            <%= if String.to_float(@ftse100_index_price_24h_change) > 0 do %>
                <span class="incr"><%= @ftse100_index_price_24h_change %> (<%= @ftse100_index_rate_24h_change %>)<span>
            <% else %>
                <span class="des"><%= @ftse100_index_price_24h_change %> (<%= @ftse100_index_rate_24h_change %>)<span>
            <% end %>
        </div>
        <hr class="line">
        <div class="stock-exchange-page__index__ele">
            <strong><p class="name">Euro 50</p></strong>
            <strong><%= @euro50_index_price %></strong>
            <br>
            <%= if String.to_float(@euro50_index_price_24h_change) > 0 do %>
                <span class="incr"><%= @euro50_index_price_24h_change %> (<%= @euro50_index_rate_24h_change %>)<span>
            <% else %>
                <span class="des"><%= @euro50_index_price_24h_change %> (<%= @euro50_index_rate_24h_change %>)<span>
            <% end %>
        </div>
        <hr class="line">
        <div class="stock-exchange-page__index__ele">
            <strong><p class="name">Nikkei 225</p></strong>
            <strong><%= @nikkei255_index_price %></strong>
            <br>
            <%= if String.to_float(@nikkei255_index_price_24h_change) > 0 do %>
                <span class="incr"><%= @nikkei255_index_price_24h_change %> (<%= @nikkei255_index_rate_24h_change %>)<span>
            <% else %>
                <span class="des"><%= @nikkei255_index_price_24h_change %> (<%= @nikkei255_index_rate_24h_change %>)<span>
            <% end %>
        </div>
        <hr class="line">
        <div class="stock-exchange-page__index__ele">
            <strong><p class="name">Crude Oil</p></strong>
            <strong><%= @snp_gsci_crude_oil_price %></strong>
            <br>
            <%= if String.to_float(@snp_gsci_crude_oil_price_24h_change) > 0 do %>
                <span class="incr"><%= @snp_gsci_crude_oil_price_24h_change %> (<%= @snp_gsci_crude_oil_rate_24h_change %>)<span>
            <% else %>
                <span class="des"><%= @snp_gsci_crude_oil_price_24h_change %> (<%= @snp_gsci_crude_oil_rate_24h_change %>)<span>
            <% end %>
        </div>
        <hr class="line">
        <div class="stock-exchange-page__index__ele">
            <strong><p class="name">Gold</p></strong>
            <strong><%= @snp_gsci_gold_price %></strong>
            <br>
            <%= if String.to_float(@snp_gsci_gold_price_24h_change) > 0 do %>
                <span class="incr"><%= @snp_gsci_gold_price_24h_change %> (<%= @snp_gsci_gold_rate_24h_change %>)<span>
            <% else %>
                <span class="des"><%= @snp_gsci_gold_price_24h_change %> (<%= @snp_gsci_gold_rate_24h_change %>)<span>
            <% end %>
        </div>
    <% end %>
    <div class="cross-line"></div>
    <div class="stock-exchange-page__topic" id="<%= @id %>" onclick>
        <section class="recipe-25pls">
            <%= live_component @socket, TanphatWeb.BlogCollection.BlogStock,
                blogs: @paginator.entries %>
        </section>
        <%= live_component @socket, TanphatWeb.SharedLive.Paginator,
            route_action: :stock_exchange,
            query: Map.merge(@query, %{"replace" => true}),
            paginator: @paginator,
            category: @category %>
    </div>
</div>
